---
import Layout from "@/layouts/Layout.astro";
import Divider from "@/components/Divider.astro";

const links = [
	{
		name: "Portfolio",
		url: "https://silasrodrigues.vercel.app",
		dataIcon: "dashicons:portfolio"
	},
	{
		name: "Email",
		url: "mailto:silasrodrigues.fatec@gmail.com",
		dataIcon: "ic:round-email"
	},
	{
		name: "Currículo",
		url: "/resume",
		dataIcon: "ph:file-pdf-duotone"
	},
]

const codeLinks = [
	{
		name: "Github",
		url: "https://github.com/SilasRodrigues19",
		dataIcon: "ri:github-line"
	},
	{
		name: "CodePen",
		url: "https://codepen.io/silasrodrigues19",
		dataIcon: "icomoon-free:codepen"
	},
]

const socialLinks = [
	{
		name: "Linkedin",
		url: "https://www.linkedin.com/in/silasrodrigues19/",
		dataIcon: "uim:linkedin-alt"
	},
	{
		name: "Twitter",
		url: "https://twitter.com/jinuye1",
		dataIcon: "bi:twitter-x"
	},
	{
		name: "WhatsApp",
		url: "https://wa.me/5519992576970",
		dataIcon: "akar-icons:whatsapp-fill"
	},
	{
		name: "Mastodon",
		url: "https://mastodon.social/@silasrodrigues",
		dataIcon: "mdi:mastodon"
	}
]

const supportLinks = [
	{
		name: "Ko-fi!",
		url: "https://ko-fi.com/silasrodrigues",
		dataIcon: "simple-icons:kofi"
	},
	{
		name: "Pix",
		url: "https://nubank.com.br/pagar/10x3bc/QHyUF1J73s",
		dataIcon: "ic:baseline-pix"
	}
]

---

<Layout
  title='Bio - Silas Rodrigues | Social.'
  description='Links sociais'
>
  <section class="py-16 sm:py-20">
		<div class="mx-auto max-w-2xl px-4 text-left sm:px-6 lg:max-w-7xl lg:px-8 mt-12">
			<div class="flex flex-col gap-4 sm:gap-6 my-4">
				<h1 class="text-primary-950/70 dark:text-primary-200/70 text-4xl font-medium tracking-tight sm:text-3xl lg:text-5xl">Conectar</h1>
				<p class="text-primary-950/70 dark:text-primary-200/70 max-w-xl text-lg sm:text-xl">
					Informações pessoais mais relevantes.
				</p>
    	</div>

			<ul class="grid sm:grid-cols-3 grid-cols-2 max-w-md gap-4">
				{links.map(({ url, dataIcon, name }) => (
					<li class="flex flex-col gap-2">
						<a target="_blank" href={url} aria-label={name} class="text-primary-950/70 dark:text-primary-200/70 outline-1 py-2 outline-dashed outline-primary-200 dark:outline-primary-800 hover:bg-primary-950/10 dark:hover:bg-primary-100/10 flex items-center justify-evenly rounded-md">
							<span class="iconify" data-icon={dataIcon}></span> {name}
						</a>
					</li>
				))}
			</ul>
			
			<Divider />

			<p class="text-primary-950/70 dark:text-primary-200/70  max-w-xl text-lg sm:text-xl my-4">
					Projetos de código aberto.
			</p>

			<ul class="grid sm:grid-cols-3 grid-cols-2 max-w-md gap-4">
				{codeLinks.map(({ url, dataIcon, name }) => (
					<li class="flex flex-col gap-2">
						<a target="_blank" href={url} aria-label={name} class="text-primary-950/70 dark:text-primary-200/70 outline-1 py-2 outline-dashed outline-primary-200 dark:outline-primary-800 hover:bg-primary-950/10 dark:hover:bg-primary-100/10 flex items-center justify-evenly rounded-md">
							<span class="iconify" data-icon={dataIcon}></span> {name}
						</a>
					</li>
				))}
			</ul>

			<Divider />

			<p class="text-primary-950/70 dark:text-primary-200/70 max-w-xl text-lg sm:text-xl my-4">
					Redes sociais.
			</p>

			<ul class="grid sm:grid-cols-3 grid-cols-2 max-w-md gap-4">
				{socialLinks.map(({ url, dataIcon, name }) => (
					<li class="flex flex-col gap-2">
						<a target="_blank" href={url} aria-label={name} class="text-primary-950/70 dark:text-primary-200/70 outline-1 py-2 outline-dashed outline-primary-200 dark:outline-primary-800 hover:bg-primary-950/10 dark:hover:bg-primary-100/10 flex items-center justify-evenly rounded-md">
							<span class="iconify" data-icon={dataIcon}></span> {name}
						</a>
					</li>
				))}
			</ul>

			<Divider />

			<p class="text-primary-950/70 dark:text-primary-200/70  max-w-xl text-lg sm:text-xl my-4">
					Apoie-me.
			</p>

			<ul class="grid sm:grid-cols-3 grid-cols-2 max-w-md gap-4">
				{supportLinks.map(({ url, dataIcon, name }) => (
					<li class="flex flex-col gap-2">
						<a target="_blank" href={url} aria-label={name} class="text-primary-950/70 dark:text-primary-200/70 outline-1 py-2 outline-dashed outline-primary-200 dark:outline-primary-800 hover:bg-primary-950/10 dark:hover:bg-primary-100/10 flex items-center justify-center gap-4 rounded-md">
							<span class="iconify" data-icon={dataIcon}></span> {name}
						</a>
					</li>
				))}
			</ul>

		</div>
  </section>

</Layout>
