---
import Layout from "@/layouts/Layout.astro";
import Divider from "@/components/Divider.astro";


const pageLinks = [
	{
		label: 'Most relevant personal information.',
		links: [
			{
				name: "Portfolio",
				url: "https://silasrodrigues.vercel.app",
				dataIcon: "dashicons:portfolio"
			},
			{
				name: "Email",
				url: "mailto:silasrodrigues.fatec@gmail.com",
				dataIcon: "ic:round-email"
			},
			{
				name: "Resume",
				url: "/resume",
				dataIcon: "ph:file-pdf-duotone"
			},
		]
	},
	{
		label: 'Open source projects.',
		links: [
			{
				name: "Github",
				url: "https://github.com/SilasRodrigues19",
				dataIcon: "ri:github-line"
			},
			{
				name: "CodePen",
				url: "https://codepen.io/silasrodrigues19",
				dataIcon: "icomoon-free:codepen"
			},
		]
	},
	{
		label: 'Social media.',
		links: [
			{
				name: "Linkedin",
				url: "https://www.linkedin.com/in/silasrodrigues19/",
				dataIcon: "uim:linkedin-alt"
			},
			{
				name: "Twitter",
				url: "https://twitter.com/jinuye1",
				dataIcon: "bi:twitter-x"
			},
			{
				name: "WhatsApp",
				url: "https://wa.me/5519992576970",
				dataIcon: "akar-icons:whatsapp-fill"
			},
			{
				name: "Mastodon",
				url: "https://mastodon.social/@silasrodrigues",
				dataIcon: "mdi:mastodon"
			}
		]
	},
	{
		label: 'Support me.',
		links: [
			{
				name: "Ko-fi!",
				url: "https://ko-fi.com/silasrodrigues",
				dataIcon: "simple-icons:kofi"
			},
			{
				name: "Pix",
				url: "https://nubank.com.br/pagar/10x3bc/QHyUF1J73s",
				dataIcon: "ic:baseline-pix"
			}
		]
	}
]

---

<Layout
  title='Bio - Silas Rodrigues | Social.'
  description='Social links page'
>
  <section class="py-16 sm:py-20">
		<div class="mx-auto max-w-2xl px-4 text-left sm:px-6 lg:max-w-7xl lg:px-8 mt-12">
			<div class="flex flex-col gap-4 sm:gap-6 my-4">
				<h1 class="text-primary-950/70 dark:text-primary-200/70 text-4xl font-medium tracking-tight sm:text-3xl lg:text-5xl">Link me.</h1>
				
				{
					pageLinks.map((group) => (
						<p class="text-primary-950/70 dark:text-primary-200/70 max-w-xl text-lg sm:text-xl">
							{group.label}
						</p>
						<ul class="grid sm:grid-cols-3 grid-cols-2 max-w-md gap-4">
							{group.links.map((link) => (
								<li class="flex flex-col gap-2">
									<a target="_blank" href={link.url} aria-label={link.name} class="text-primary-950/70 dark:text-primary-200/70 outline-1 py-2 outline-dashed outline-primary-200 dark:outline-primary-800 hover:bg-primary-950/10 dark:hover:bg-primary-100/10 flex items-center justify-evenly rounded-md">
										<span class="iconify" data-icon={link.dataIcon}></span> {link.name}
									</a>
								</li>
								))}	
						</ul>
						<Divider />
					))
				}
    	</div>
		</div>
  </section>

</Layout>
